/* 
.white {
  background-color: white;
} */

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.surprise {
  background-color: black;
}
