
.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.surprise {
  background-color: black;
}

h1 {
  text-align: center;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  padding: 10px;
  border-radius: 5px;
}

.panel {
  height: 120px;
}

body {
  background-color: #e6e6e6;
}
